# =========================================================================== #
# EditorConfig for hot-plate
# =========================================================================== #

root = true

[*]
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# =========================================================================== #
# Shell Files
# =========================================================================== #

[*.{sh,bash,bats}]
indent_style = space
indent_size = 2

[{bin/**,.githooks/**}]
indent_style = space
indent_size = 2

# shfmt configuration

[*.bats]
shell_variant = bats
binary_next_line = true

[[bash]]
shell_variant = bash
indent_style = space
indent_size = 2
binary_next_line = true

# =========================================================================== #
# Other Extensions
# =========================================================================== #

[*.{yml,yaml}]
indent_style = space
indent_size = 2

[Makefile]
indent_style = tab
tab_width = 4
